.colorcoded__container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-top: 12px;
}

.grid__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 12px;
}

.grid__container > .grid__box {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 12px;
  color: #ffffff;
}