.container {
  background-color: #F3F2F1;
  padding: 20px;
}

.postcode-container {
  display: flex;
  flex-direction: column;
  gap: 24px;
  max-width: 300px;
}

#postCode, #address {
  padding: 8px 12px;
}

.field {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.field > span {
  color: #919191;
  font-size: 14px;
  margin: 2px 0;
}

.container .btn {
  color: #6CAAD4;
  padding: 0;
  width: 210px;
  border: none;
  background: none;
  text-decoration: underline;
  font-weight: 500;
  font-size: 16px;
  cursor: pointer;
}

.dropbtn {
  background-color: #04AA6D;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
  background-color: #3e8e41;
}

#myInput {
  box-sizing: border-box;
  background-image: url('searchicon.png');
  background-position: 14px 12px;
  background-repeat: no-repeat;
  font-size: 16px;
  padding: 14px 20px 12px 45px;
  border: none;
  border-bottom: 1px solid #ddd;
}

#myInput:focus {outline: 3px solid #ddd;}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  /* display: none; */
  position: absolute;
  background-color: #f6f6f6;
  min-width: 230px;
  overflow: auto;
  border: 1px solid #ddd;
  z-index: 1;
  min-height: 400px;
  height: 100%;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  /* min-height: 300px; */
  text-decoration: none;
  display: block;
}

.dropdown a:hover {background-color: #ddd;}